.myContainer {
  position: relative;
  background-image: linear-gradient(to top, rgb(9, 49, 50), rgb(0, 0, 0));
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-image {
  width: 100%;
  height: auto;
  transform-origin: center center;
  transition: transform 0.3s ease;
  transform: scale(1);
}

/* .svg-image.even:hover {
  transform: scale(1.8);
} */


.svg-image.l2 {
  animation: evenMoveDown 4s infinite alternate;
}

.svg-image.l1 {
  animation: oddMoveUp 4s infinite alternate;
}

@keyframes evenMoveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes oddMoveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

/* .next-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #2e409e
} */